<div class="container">
  <div class="row" id="profileall">
    <div class="profile-header d-flex mt-3">
      <%= link_to front_page_path do %>
        <i class="fa-solid fa-arrow-left" id="arrow_left"></i>
      <% end %>
      <h3>Profile</h3>
      <div class="col-md-3" id="logout">
        <%= link_to "Log out", destroy_user_session_path,  data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </div>

    <div class="col-md-12" id="profile">
      <div class="profile-photo">
        <%= image_tag @user.image_url %>
      </div>
      <div class="profile-info">
        <h3><%= @user.first_name %> <%= @user.last_name %></h4>
        <h4><%= @user.email %></p>
        <p><%= @user.phone_number %></p>
        <p><%= @user.dietary %></p>
      </div>
    </div>
  </div>
    <div class="col-md-12 d-flex mt-3" id="profilebox" style="justify-content:space-around;">
      <p class="venue"><%= link_to "Venue Listing", venues_path%><i class="fa-solid fa-arrow-right" id="arrow_right"></i></p>
      <p class="event"><%= link_to "Event", myevent_list_path %><i class="fa-solid fa-arrow-right" id="arrow_right"></i></p>
    </div>
    <div class="col-12" id="listoffriend">
      <h3>Friend Listing</h3>
      <% @friendlist = current_user.friends %>
      <div class="list" >
        <% @friendlist.each do|f| %>
          <%= link_to profile_path(f.id) do%>
          <div class="listingfriend d-flex" style="justify-content:space-around;">
            <%= image_tag f.image_url %>
            <p><%= f.first_name %> <%= f.last_name %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>


  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
