<div class="container">
  <% if @venue.user_id %>
    <p>show this</p>
  <% else %>
    <div class="col-md-12 pt-3 ml-2" id="bookingtitle">
      <p>Booking Confirmation</p>
    </div>
    <div class="col-md-12" id="booking-titles" style="padding: 31px;">
        <div class="col d-flex" id="reserve">
          <i class="fa-regular fa-circle-check"></i>
          <h3>Reservation Confirmed.</h3>
        </div>
        <div class="reserveinfo">
          <p>Address: <%= @venue.name %>, <%= @venue.address %></p>
          <p>Booking Id: <%= @booking.id %></p>
          <p>Date: <%= @booking.date.strftime("%A, %e %B %Y") %></p>
          <p>Time: <%= @booking.time.strftime("%l %P") %></p>
          <p>For: <%= @booking.people %> person</p>
        </div>
      <div class="col-md-12" id="createevent-btn">
      <%=link_to "Start Event Planning",   new_venue_booking_event_path( @venue.id, @booking.id), class: "btn btn-flat update" %>
    </div>
    </div>
  <% end %>
</div>
