<div class="footernav" style="border-top: 1px solid;">
  <div class="col-12" id="footer">
    <%= link_to front_page_path do %>
      <i class="fa-solid fa-home" style="color: #b96cd5;"></i>
    <% end %>

    <%= link_to root_path do %>
      <i class="fa-solid fa-magnifying-glass" style="color: #b96cd5;"></i>
    <% end %>

    <%= link_to attendances_path do %>
      <i class="fa-solid fa-bell" style="color: #b96cd5;"></i>
    <% end %>

    <%= link_to myevent_list_path do %>
      <i class="fa-regular fa-calendar" style="color: #b96cd5;"></i>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to profiles_path do %>
        <i class="fa-regular fa-user" style="color: #b96cd5;"></i>
      <% end %>
    <% else %>
      <div class="nav-item">
        <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-user-lock" style="color: #b96cd5;"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
