<%= simple_form_for([venue, event]) do |f| %>
  <%= f.input :event_name, placeholder:"what are you planning?" %>
  <p>Address: </p><%= @venue.name %>,   <%= @venue.address %>
  <%# useflatpicker %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :time %>
  <%= f.input :event_detail, placeholder:"what is the plan?" %>
  <%= f.input :number_of_people %>
  <%= f.input :dress_code %>
  <%= f.submit class: "btn btn-primary", id:"event-btn" %>
<% end %>
