<%= simple_form_for([@venue, @booking, @event]) do |f| %>
  <p><%= f.input :event_name, placeholder:"what are you planning?" %></p>
  <p><%= f.input :photo, as: :file %></p>
  <p><strong>Address:</strong> <%= @venue.name %>,  <%= @venue.address %> </p>
  <%# useflatpicker %>
  <% if @booking.present? %>
    <p><strong>Date:</strong> <%= @booking.date.strftime("%A, %e %B %Y") %></p>
    <p><strong>Time:</strong> <%= @booking.time.strftime("%l %P") %></p>
  <% else %>
    <%= f.input :start_date , as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :time %>
  <% end %>

  <%= f.input :event_detail, as: :text, placeholder:"what is the plan?"%>
  <%= f.input :meal_dietary, collection:[
  "Vegetarian",
  "Vegan",
  "Gluten-Free",
  "Dairy-Free",
  "Low-Carb/Keto",
  "Allergen-Free"], as: :check_boxes , placeholder:"Meal options" %>

  <%= f.input :additional, collection:['Dog-Friendly', 'Kid-friendly', 'BYO', 'Cash Required'], as: :check_boxes %>
  <%= f.input :number_of_people, collection: 1..300  %>
  <%= f.input :dress_code, collection:
  ["Smart", "Casual", "Colour Theme", "Haloween",
  "Formal",
  "Business Formal",
  "Business Casual",
  "Smart Casual",
  "Black Tie",
  "White Tie",
  "Cocktail Attire",
  "Festive Attire",
  "Semi-Formal"] %>

  <%= f.submit class: "btn btn-primary", id:"event-btn" %>
<% end %>
