<div class="container">
  <div class="row" id="eventlistrow">
    <div class="col-md-12 d-flex" id="eventlist">
      <%= link_to root_path do %>
          <i class="fa-solid fa-arrow-left" id="arrow_left"></i>
        <% end %>
      <h3>Events</h3>
    </div>

    <% if @event.length > 0 %>
      <div class="col-md-12" id="eventlistdetail">
        <% @event.each do |e| %>
        <div class="eventlistcard d-flex mt-3" style="justify-content: space-between;">
          <div class="col-md-3" id="eventlistphoto" style="align-self: center;">
            <% if e.photo.key  %>
              <%= cl_image_tag e.photo.key, height: 100, width: 100, crop: :fill %>
            <% else %>
              <%= image_tag "https://placehold.co/100x100/png" %>
            <% end %>
          </div>
          <div class="col-md-9" id="eventdetail">
            <h3><%= e.event_name %></h3>
            <p><%= e.start_date %></p>
            <% @booking = Booking.find(e.booking_id) %>
            <% @venue = Venue.find(@booking.venue_id) %>
            <p><%= @venue.address %></p>
            <p><%= @venue.name %></p>
            <%= link_to "View Detail", venue_booking_event_path(@venue.id, @booking.id, e.id) %>
          </div>
        </div>
        <% end %>
      </div>
    <% else %>
  </div>
      <div class="row" id="noevent">
        <h3>No events. <%= link_to "Start planning.", front_page_path %></h3>
        <%= image_tag asset_path('nothing-here.png') %>
      </div>
    <% end %>

  <div class ="row"><%= render 'shared/footer'%>
  </div>
</div>
