<div class="container">
  <div class="row">
    <div class="col-md-12">
        <%= link_to root_path do %>
          <i class="fa-solid fa-circle-arrow-left" id="arrow_left"></i>
        <% end %>
      <h2>Event Details </h2>
    </div>

  </div>
</div>


<%= @event.event_name %>
<%# <% if policy(@event).show? %>
  <%# <%= link_to "Edit this Event", events_update_path(@event) %>
<%# <% end %>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: venue_event_path(@venue, @event), method: :get, class: "d-flex" do %>
      <%= text_field_tag :user,
            params[:user],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= simple_form_for @event, url: venue_event_attendances_path(@venue, @event), method: :post, data: { controller: 'attendances' } do |f| %>
  <%= f.collection_check_boxes :user_id, @users, :id, :to_s do |b| %>
    <%= b.label { b.check_box + b.object.first_name + ' ' + b.object.last_name } %>
  <% end %>

  <%= f.submit 'Send Invites' %>
<% end %>
<%= link_to "Go to Invites", venue_event_attendance_path(@venue, @event) %>

<%# <%= button_to "Destroy this event", @event, method: :delete if policy(@event).destroy? %>

<%# <%= link_to "Add Guests", new_venue_event_attendance_path(@venue, @event) %>
