<div class="container">
  <div class="row">
    <div class="col-md-12" id="imgshow" style="background-image: linear-gradient(rgb(77 15 15 / 45%), rgb(247 247 247 / 30%)), url('<%= cl_image_path @event.photo.key, height:200, width:400, crop: :fit%>')" >
      <div class="col-md-12 d-flex" id="eventshowpage">
        <%= link_to profiles_path do %>
          <i class="fa-solid fa-arrow-left" id="arrow_left"></i>
        <% end %>
        <h3>Event Details </h3>
        
      </div>
    </div>

    <div class="col-sm-12 col-md-6" id="eventshowpage-detail">
      <p>Organized by <%= current_user.first_name%></p>
      <h3><%= @event.event_name %></h3>

      <div class="venuesecondetails d-flex">
        <i class="fa-regular fa-calendar"></i>
        <div class="venuesecondetail">
          <% if @event.start_date %>
            <p><strong><%= @event.start_date %></strong></p>
          <% else %>
            <p><strong><%= @booking.date %></strong></p>
          <% end %>
          <% if @event.time %>
            <p><%= @event.time %></p>
          <% else %>
            <p><%= @booking.time %></p>
          <% end %>
        </div>

      </div>


      <div class="venueaddresss d-flex">
        <i class="fa-solid fa-location-dot"></i>
        <div class="venueaddress">
          <p><strong><%= @venue.name %></strong></p>
          <p><%= @venue.address %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12" id="attendances">
      <% @attendance.each do |e| %>
        <% if e.status == "true" %>
          <% @number =  @attendance.count %>
        <% end %>
      <% end %>
      <h3>Who's going?</h3>
      <div class="attstatus d-flex">
        <%= link_to attendance_path do %>
          <i class="fa-solid fa-users"></i>
        <% end %>
        <p><%= @number %> peoples are going </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="eventshowpage-description">
      <h3>Event Details</h3>
      <p><%= @event.event_detail %></p>
      <p>Additional Information: <%= @event.additional %></p>
      <p>Catering Information: <%= @event.meal_dietary %></p>
      <p>Dress Code: <%= @event.dress_code%></p>
    </div>
  </div>

  <div class="floatbutton">
    <%= link_to 'Add user',  new_venue_booking_event_attendance_path(@venue.id, @event.booking_id, @event.id, ),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
  </div>




</div>
