<div class="container">
  <div class="row">
    <div class="col-md-12">
        <%= link_to users_path do %>
          <i class="fa-solid fa-circle-arrow-left" id="arrow_left"></i>
        <% end %>
      <h2>Event Details </h2>
    </div>
    
  </div>
</div>


<%= @event.event_name %>
<%# <% if policy(@event).show? %>
  <%# <%= link_to "Edit this Event", events_update_path(@event) %>
<%# <% end %> %>


<%= simple_form_for @event, url: venue_event_attendances_path(@venue, @event), method: :post, data: { controller: 'attendances' } do |f| %>
  <%= f.collection_check_boxes :user_id, @users, :id, :to_s do |b| %>
    <%= b.label { b.check_box + b.text } %>
  <% end %>

  <%= f.submit 'Create Attendance' %>
<% end %>

<%# <%= button_to "Destroy this event", @event, method: :delete if policy(@event).destroy? %>
<%# <%= link_to "Add Guests", new_venue_event_attendance_path(@venue, @event) %> %>
