<div class="card" id="homecard">
  <h3>Featured Venues</h3>

  <% @venues.each do |venue| %>
    <%= link_to venue_path(venue.id) do %>
      <div class="individual_card">
        <%= image_tag venue.photo_url %>
        <div class="card-body">
          <h3><%=  venue.name  %></h3>
          <h5 class="card-title"><%= venue.category %></h5>
          <p class="card-text"><%= venue.address %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
