<div class="container">
  <p>create your own venue</p>
  <%= link_to "button", new_venue_path %>

  <div data-controller="map">
    <div data-target="map.map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div data-target="map.list">
      <%= render 'list' %>
    </div>
    <button data-action="click->map#toggleView">toggle</button>
 </div>

  <%= render 'shared/footer' %>
</div>
