<%= render "shared/navbar" %>
<div class="container">
  <div class="row">
    <div class="col-12">

    </div>
    <div class="col-12">
      <div class="cardownvenue">
        <p>create your own venue</p>
        <%= link_to "button", new_venue_path %>
      </div>
    </div>
  </div>


  <div data-controller="map">
    <div data-target="map.map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div data-target="map.list">
      <%= render 'list' %>
    </div>
    <button data-action="click->map#toggleView">toggle</button>
 </div>

  <%= render 'shared/footer' %>
</div>
