<div class="container">
  <div class="row">
    <div class="col-12 d-flex" id="navbarheader">
      <%= image_tag asset_path('PL_logo3.png') %>
      <div class="cardownvenue">
        <%= link_to new_venue_path do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12">
      <%= render "shared/navbar" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mt-1">
      <%= render 'list' %>
    </div>
  </div>

  <div class ="row">
    <%= render 'shared/footer'%>
  </div>
</div>
