
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex" id="venuelistingtitle">
      <%= link_to users_path do %>
        <i class="fa-solid fa-circle-arrow-left" id="arrow_left"></i>
      <% end %>
      <p>Venue Listing</p>
    </div>
    <div class="col-md-12" id="listing-card">
      <% @venue.each do |v|%>
      <div class="listinginner d-flex" style="justify-content: space-between;">
        <div class="col-md-3" id="inner-photo">
          <%= v.photo_url %>
        </div>
        <div class="col-md-6" id="inner_listing">
          <p><strong><%= v.name %></strong></p>
          <p><%= v.address %></p>
          <%= link_to "Create Event", new_venue_event_path(v.id) %>
        </div>
        <div class="col-md-3" id="edit_button">
          <%= link_to edit_venue_path(v.id) do %>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
