<div class="container">
  <div class="row" id="venuerow">
    <div class="col-md-12 d-flex" id="venuelistingtitle">
      <%= link_to profiles_path do %>
        <i class="fa-solid fa-arrow-left" id="arrow_left"></i>
      <% end %>
      <h3>My Venues</h3>
    </div>
    <% if @venue.length > 0  %>
      <div class="col-md-12" id="listing-card">
        <% @venue.each do |v|%>
          <div class="listinginner d-flex" style="justify-content: space-between;">
            <div class="col-md-12" id="inner_listing">
              <h3><%= v.name %></h3>
              <p><%= v.address %></p>
            </div>
            <div class="col-md-3" id="edit_button">
              <%= link_to edit_venue_path(v.id) do %>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
  </div>
        <div class="row" id="novenue">
          <h3>No venues. <%= link_to "Start creating.", new_venue_path %></h3>
          <%= image_tag asset_path('nothing-here.png') %>
        </div>
      <% end %>
</div>
