<div class="container">
  <div class="row" id="venueshowtop"  style="background-image: url(<%= @venue.photo_url %>); height:61vw; background-size:cover;">
    <%= link_to root_path do %>
      <i class="fa-solid fa-circle-arrow-left" id="arrow_left"></i>
    <% end %>
    <%# add to favorite icon here %>
  </div>
  <div class="row" id="venueshowcard">
    <div class="col-sm-12" id ="venuecarddetail">
      <div class="col-sm-12 d-flex" style="justify-content: space-between;">
        <h3><%= @venue.name %></h3>
        <p><i class="fa-solid fa-star" style="color: #deb1fb;"></i><%= @venue.rating %></p>
      </div>
       <p><i class="fa-regular fa-envelope"></i><%= @venue.email_address%></p>
      <div class="col-md-12 d-flex" style="justify-content: space-between;">
        <p><i class="fa-solid fa-computer-mouse"></i><%= @venue.website%></p>
        <p><i class="fa-solid fa-phone"></i><%= @venue.phone_number%></p>

      </div>
      <div class="col-md-12 d-flex" style="justify-content: space-between;">
        <p><i class="fa-solid fa-location-dot"></i> <%= @venue.address%></p>
        <p><i class="fa-regular fa-clock"></i> <%= @venue.operation_hour%></p>
      </div>

    </div>

    <div class="col-sm-12" id="venuedetails">
      <p><%= @venue.description %></p>
      <h4>type</h4>
      <p><%= @venue.category%></p>
      <h4>price range</h4>
      <p>estimated price per person</p>
      <p>$<%= @venue.price%></p>
    </div>

    <div class="col-sm-12" id="capacity">
      <h4>Capacity</h4>
      <p><%= @venue.capacity%></p>

    </div>
      <p><%= @venue.time_slot%></p>
      <h4>what they say about us;</h4>
      <p>"<em><%= @venue.review %><em>"</p>
      <p><%= link_to "add review",  new_venue_review_path(@venue)  %></p>
      <p><%= link_to "Venue Booking", new_venue_booking_path(@venue.id) %></p>
  </div>
  <div class="row">
    <%= render 'bookingform' %>
  </div>
</div>
