<h1>FriendRequests#index</h1>
<p>Find me in app/views/friend_requests/index.html.erb</p>

<% @friend_requests.each do |request| %>
  <% if !request.confirmed %>
    <% @friend = User.find(request.user_id) %>
    <div class='invitation'>
      <p>You have a friend request from <%= @friend.first_name %> <%= @friend.last_name %></p>

      <%= form_for request, url: { action: "update", id: request.id }, method: :patch, remote: true do |f| %>
        <%= f.hidden_field :confirmed, value: true %>
        <%= f.submit "Accept", class: "btn btn-success" %>
      <% end %>

      <%= form_for request, url: { action: "update", id: request.id }, method: :patch, remote: true do |f| %>
        <%= f.hidden_field :confirmed, value: false %>
        <%= f.submit "Decline", class: "btn btn-danger" %>
      <% end %>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".invitation form");

        form.addEventListener("ajax:success", function () {
          // Hide the form on successful submission
          form.closest(".invitation").style.display = "none";
        });
      });
    </script>

  <% end %>
<% end %>
