<div class="container">
  <div class="row pt-3">
    <h2>Notification</h2>
    <div class="col-md-12">
      <% @attendances.each do |attendance| %>
        <% if !attendance.status %>
          <% @event = Event.find(attendance.event_id) %>
          <% @venue = Venue.find(@event.venue_id) %>
          <div class="invitation">
            <p>You have an invitation for <%= @event.event_name %> at <%= @venue.name %> from <%= User.find(@event.user_id).first_name %></p>

            <%= form_for attendance, url: { action: "update", id: attendance.id }, method: :patch, remote: true do |f| %>
              <%= f.hidden_field :status, value: true %>
              <%= f.submit "Yes", class: "btn btn-success" %>
            <% end %>

            <%= form_for attendance, url: { action: "update", id: attendance.id }, method: :patch, remote: true do |f| %>
              <%= f.hidden_field :status, value: false %>
              <%= f.submit "No", class: "btn btn-danger" %>
            <% end %>
          </div>

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const form = document.querySelector(".invitation form");

              form.addEventListener("ajax:success", function () {
                // Hide the form on successful submission
                form.closest(".invitation").style.display = "none";
              });
            });
          </script>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= render 'shared/footer' %>
  </div>
</div>
